

.blog_title {
  width: 90%;
  margin: auto;
}
.tiles {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  height:500px;
  overflow: auto;

}

.tile {
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid gray;
  width: 90%;

}

.tile_link:visited,
.tile_link:link,
.tile_link:hover,
.tile_link:active {
  color: black;
  text-decoration: none;
}

.tile_text {
  text-align: center;
  width: 90%;
  margin: auto;
}

.blog_container {
  width:  100%;
  height: auto;
  box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
  border-radius: 5px;
}
