.banner-contact {
    background: url("./images/contactbanner.jpg") no-repeat center top/cover border-box;
}

@media (min-width: 600px) {
    
    .contact_form__moreinfo {
        grid-column: 1 / 3;
        grid-row: 3;
    }
    .contact_form__submit {
        grid-row: 4 ;
    }
}