/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


.general_title {
    width:90%;
    margin: auto;
}
.text_title {
    width:90%;
    margin: auto;
}

.text_block {
    padding: 0.5rem 0;
    width:90%;
    margin: auto;
}

.text_list {
    width:90%;
    margin: auto;
}
.text_list ul {
    padding-left: 1rem;
    list-style: none; /* Remove default bullets */
}
.text_list ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--main-bg-color); /* Change the color */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

.text_list ul li{
    font-size: 1.2rem;
}

@media (min-width: 600px) {
    .general_title {
        text-align: center;
    }
    
    .text_list ul li{
        font-size: 1rem;
    }
}
@media (min-width: 900px) {

    .text_list ul li{
        font-size: 1.2rem;
    }
}