@font-face {
    font-family: "AvenirCustom";
    src: url("./ave_next_ssv/ave_next_ssv/AvenirNextLTPro-Regular.otf") format("opentype");
    
}

@font-face {
    font-family: "AvenirCustom";
    src: url("./ave_next_ssv/ave_next_ssv/AvenirNextLTPro-Bold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "AvenirCustom";
    src: url("./ave_next_ssv/ave_next_ssv/AvenirNextLTPro-It.otf") format("opentype");
    font-style: italic;
}

:root {
    --main-bg-color: #ff9933;
  }

* {
  box-sizing: border-box;
}


html, body {
    font-family: "AvenirCustom";
    /* height: 100%; */
  }

body {
    margin: 0;
    min-height: 100vh;
}

li:empty {
    display: none;
 }
#en {
    display: none;
  }

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    transition: opacity 4s linear;
}  
a {
    color: var(--main-bg-color);
}

a:hover {
    color: #F27D07;
}

.cookiecontainer {
    display: flex !important;
}

.cookiecontainer--button-accept {
    align-self: center;
    font-size: 1.2rem;
    margin:1rem 2rem !important;
}

.cookiecontainer--button-accept:hover {
    background-color: rgb(187, 150, 2) !important;
}
.cookiecontainer--button-decline {
    align-self: center;
    font-size: 1.2rem;
}

.cookiecontainer--button-decline:hover {
   background-color: rgb(156, 7, 7) !important;
}



.italic_style {
    font-style: italic;
  }

.open {
    display: block !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
}
.button_lang {
    background-color: #444;
    color: #FFF;
    padding: 8px 20px;
    border-radius: 5px;
}



h2 {
    font-size: 1.5rem;
}

span {
    font-size: 1.2rem;
}

.openSidebarMenu {
    z-index: 9999;
}
 

.banner-otherpages {
    width: 100%;
    height: 50vh;
    padding: 0.6rem;
    position: relative
}

.banner-otherpages h1 {
    color: white;
    font-size: 2rem;
    text-align: center;
    width: 90%;    
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    margin: auto;

}

.main--underline > h2 {
        align-content: center;
        border-bottom: 2px solid var(--main-bg-color);
        display: inline-block;
    }
    
@supports (display: grid) {
  #root {
      display: flex;
      flex-direction: column;
      /* grid-template-areas: "header"
                           "main"
                           "footer"; */
     /* grid-template-rows: 1fr auto; */
      /* grid-template-rows: 3.5rem auto fit-content(8rem);
      min-height: 100%;
      padding-top:0;*/
      
      height: 100%; 
      overflow-x: hidden;
  }
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #fff;
    position: fixed;
    height: 3.5rem ;
    overflow: hidden;
    z-index: 101;
}

.main-header__brand {
  text-decoration: none;
  font-weight: bold;
  vertical-align: middle;
  height: 2.5rem;
  padding-left: 4vw;
  filter: opacity(1);
  transition: filter 0.4s ease 0s;  
}

.main-header__brand:hover {
    filter: opacity(.7);
    transition: filter 0.4s ease 0s; 
}

.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}


.bm-item {
    display: inline-block;
  
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
  }
  
  /* Change color on hover */
  .bm-item:hover {
    /* color: white; */
    color: var(--main-bg-color);
  }
  
  .active-page {
    color: var(--main-bg-color) !important;
  }
  /* The rest copied directly from react-burger-menu docs */
  
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 1rem;
    top: 0.9rem;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
    height: 15% !important;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

.main-nav--mobile{
    display: flex;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    /* width: 100%; */
    /* top: 19px; */
    right: 50px;
    height: 100%;
    /* width: 22px;     */
}

.main-nav { 
    display: none;
}


.main-nav__items {
    padding: 0;
    margin: 0 1rem 0 0;
    list-style: none;
    display: flex;
    text-align:center;
}


.main-nav__item {
    margin: 0 1rem;
}

.main-nav__item a
{
    color: black;
    text-decoration: none;
    padding: 0.3rem 0;
    /* transition: color 0.4s ease 0s;  */
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: var(--main-bg-color);
    border-bottom: 5px solid white;
    transition: color 0.4s ease 0s; 
}

.main-nav__item a:focus {
    outline: none;
}

.main-nav__item--flag {
    margin: auto auto auto 5px;
}



.nlbutton {
    background-size: 100% 100%;
    background-image: url(../static/images/flags/netherlands.svg);
    background-color: transparent;
    border: 0;
    /* padding: 8px 15px; */
    color: white;
    cursor: pointer;
    overflow:hidden;
    vertical-align: top; 
    height: 2rem;
    width: 2rem;
}

.engbutton {
    background-size: 100% 100%;
    background-image: url(../static/images/flags/uk.svg);
    background-color: transparent;
    border: 0;
    /* padding: 8px 15px; */
    color: white;
    cursor: pointer;
    overflow:hidden;
    vertical-align: top; 
    height: 2rem;
    width: 2rem;
}


main {
    margin-top: 3.5rem;
    min-height: 100vh;
    /* height: 100%;
    margin-top: 3.5rem; */
  /* grid-area: main; */
}

/* GENERAL STYLING PIECES E.G. GRAYISH BANNER WITH TEXT  */

.pagewidth-banner {
    height:7rem;
    background: #323232;    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:100%;
    text-align: center; 
}

.pagewidth-banner span {
    color: white;
    align-self: center;
    /* font-size: 0.8rem; */
}

.pagewidth-banner span span {
    color: var(--main-bg-color);
}




/* BELOW BANNER TEXT */

.text-container {
    width:90%;
    margin: 1rem auto;
    text-align: center;
}

.text-container span {
    text-align: center;
}

.colored-text {
    color: var(--main-bg-color);
}

  
/* ORANGE CIRCLES WITH TEXT */
    
.text-concept {
    text-align: center;
}

.circle__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr) ;
    grid-template-rows: repeat(6, 1fr) ;
}

.circle__container--container {
    margin: auto;
}

.circle__container--circle {
    display: flex;
    margin: auto;
    padding: 0.5rem 0;
    width: 100%;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.3rem;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background:var(--main-bg-color)
  }

.circle__text {
      width:80%;
      text-align: left;
      margin: auto;
}

/* FAQ DROPDOWNS */

.accordion__container {
    width: 90%;
    margin: auto;
}

.titlecontainer {
    display: flex;
}

.accordion {
    background-color: #fff;
    color:black;
    cursor: pointer;
    padding: 0.5rem 0 0.5rem 0rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2rem;
    transition: 0.6s;
    margin:0;
    font-weight: 500;
    font-family: "AvenirCustom";
}

.accordion.active, .accordion:hover {
    background-color:rgba(255, 153, 51, 0.5);
}

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
    opacity: 0;
    font-size: 0.8rem;
}

.panel ul {
    list-style: none;
    padding:0;
    margin:0; 
}
.panel ul li::before {
    color: var(--main-bg-color);
    content: "\2022";
    font-weight: bold;
    display: inline-block; 
    width: 1em;
}

.innerpannel {
    margin: 0.5rem;
}

.innerpanel > span {
    font-size: 1.2rem;
}

.panel.show {
    opacity: 1;
    max-height: 500px;  
}

/* SIGNUP FORM GENERAL STYLING */

.signup-form {
    padding: 2rem;
    display: grid;
    /* grid-row-gap: 0.5rem; */
    /* position: relative; */
}

.formcontainer label {
    font-size:1.2rem;
}

.signup-form label,
.signup-form input,
.signup-form select {
    display: block;
    width: 100%;
}

input {
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 4px;
  }
  
input[type=text],
input[type=email],
input[type=date],
input[type=tel],
input[type=file] {
    line-height: 2rem;
    padding-left: 0.3rem;
    width: 100%;
}

/* Add text below invalid form inputs */
.invalid_email{
    color: #b43f3f;
    font-size: 0.7rem;
    position: absolute;
    margin: -0.3rem 0 ;
}

/* add border to invalid form inputs */
.invalid_property {
    border: solid 2px  #b43f3f;
}

/* form label {
    margin:0.5rem 0;
  } */
    
.signup-form__text  {
    padding:10px;
    pointer-events: none;
    transition: 0.1s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
    width:100%
  }

.signup-form__text-moreinfo {
    height: 5rem;
    padding: 0 0 3.5rem 0;
    max-width: 100%;
}

.form__moreinfo-textarea {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 4px;
    min-height: 8rem;
    font-family: "AvenirCustom";
    padding: 0.3rem;
    font-size: 0.8rem;
    resize: none;
}

.form__moreinfo-label {
    margin: 0.5rem 0 0 0;
}

.send-form {
    /* height: 3rem; */
    line-height: 2rem;
    font-size: 1.2rem;
    border: solid rgba(255, 153, 51, 1) 2px;
    background-color:white;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s, color 0.4s ease 0s;
    cursor: pointer;
    padding:1px;
    font-weight: bold;
    margin-top: 1.5rem;
}

input[type=submit] {
    width: 50%;
  }

input[type=submit]:focus,
input[type=submit]:hover{
    color: var(--main-bg-color);
    transition: color 0.4s ease 0s
}  


.main-contactus {
    height:15rem;
    background: #323232;    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:100%;
    text-align: center;
}

.main-contactus span {
    color: white;
    align-self: center;
    /* font-size: 0.8rem; */
}

.main-contactus button {
    height: 3rem;
    width: 25vw;
    min-width: 8rem;
    font-size: 1.2rem;
    align-self: center;
    border: solid rgba(255, 153, 51, 1) 2px;
    background-color: rgba(255, 153, 51, 1);
    margin:0.3rem 0 ;
    border-radius: 5px 5px 5px 5px;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    cursor: pointer;
    padding:0;
}

.main-contactus button:hover{
    background-color: rgb(252, 133, 15);
    border: solid rgba(252, 133, 15, 1) 2px;
    transition: background-color 0.4s ease 0s, border-color 0.4s ease 0s ;
}

.main-contactus button span {
    color: white;
    transition: color 0.4s ease 0s;
    font-weight: bold;
}
.main-contactus button:hover > span {
    color: black;
}

/* ACCORDION STYLING */

.accordion__border {
    border-bottom: 1px solid rgb(252, 133, 15);;
}

.accordion__section {
    display: flex;
    flex-direction: column;
  }

.accordion {
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
  } 

.accordion:hover,
.active {
    background-color: rgba(255, 153, 51, 0.5);
  }


.accordion__title {
    font-size: 1.2rem;
  }
  
  /* Style the accordion chevron icon */
.accordion__icon {
    margin-left: auto;
    transition: transform 0.6s ease;
    width:7px;
}

  /* Style to rotate icon when state is active */
.rotate {
    transform: rotate(90deg);
}
  
  /* Style the accordion content panel. Note: hidden by default */
.accordion__content {
    background-color: white;
    overflow: hidden;
    transition: max-height 0.6s ease;
}
  
  /* Style the accordion content text */
.accordion__text {
    font-size: 1.2rem;
    padding: 18px;
}  

.accordion__paragraph {
    font-size:1.2rem;
  }
  
/* FOOTER STYLING */


.main-footer {
    background: black;
    padding-top: 1.5rem;
    margin-top: 3rem;
    /* grid-area: footer;
    grid-row-start: 2;
    grid-row-end: 3; */
    flex-shrink: 0;
}

.footer-container {
    display: grid;
    grid-template-areas: "mobile";
    justify-content: center;
    text-align: center;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}

.main-footer__links li {
    padding: 0.3rem 0;
}
.main-footer__links a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.4s ease 0s; 
    margin: 0.5rem;
    font-size:1.2rem;
 }

 .main-footer__links a:hover{
    color: var(--main-bg-color);
    transition: color 0.4s ease 0s; 
}
.main-footer__links span{
    color: #fff;
    
} 

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.social-image {
    height: 2rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.bm-item:focus,
.bm-burger-button:focus {
    outline: none;
}



/* ######################################################################################################################################################## */

@media (min-width: 600px) {
    section {
        margin: 5rem 0;
    }   

    .banner-otherpages {
        height: 70vh;
    }    
    input[type=submit] {
        width: 100%;
        line-height: 3rem;
      }
      
    .main-header {
        height: 5rem;
    }

    .main-nav__items {
        font-size: 1.2rem;
    }
    .bm-item,
    .bm-burger-button {
        display: none;
    }
    
    span {
        font-size: 1.3rem;
    }

    .sidebarIconToggle { 
        display: none;
    }

    #main-banner {
        height: 60vh;
     }

     #main-banner h1 {
         /* top: 65%; */
         font-size: 2.5rem;   
         display: inline-block;
     }

    .main-nav--mobile{
        display: none;
    }

    .main-nav { 
        display: flex;
    }
    .banner-otherpages h1 {
        top: 35%;
        font-size: 2.5rem;
    }
    
    .main-nav__item {
        align-self: center;
    }

    .nlbutton {
        width: 2.5rem;
        height: 2.5rem;
    }

    .engbutton {
        width: 2.5rem;
        height: 2.5rem;
    }
    /* GENERAL STYLING PIECES E.G. GRAYISH BANNER WITH TEXT  */


    .pagewidth-banner span {
        max-width: 40rem;
    }


    .text-container {
        margin: 1.5rem auto;
        max-width: 50rem;
    }

    .main-contactus  {
        margin: 5rem 0;
    }
    
    /* ORANGE CIRCLES WITH TEXT */    

    .circle__container-big {
        margin: 2rem auto;
    }

    .circle__container {
        grid-template-columns: repeat(3, 1fr) ;
        grid-template-rows: repeat(2, 1fr) ;
        max-width: 90%;
        margin: auto;
    }
    
    .circle__container--container {
        height: 3rem;
        position: relative;
        margin: 0 auto;
    }
    
    .circle__container--circle {
        flex-direction: column;
        margin: 0.5rem;
        padding: 0;
    }
    
    .circle__text {
          text-align: center;
          margin: 0 auto;
    }    

    /* FAQ DROPDOWNS */

    .accordion__container {
        max-width: 50rem;
        text-align: center;
        margin: 2rem auto;
    }    

    .accordion__container h3 {
        text-align: left;
    }   

    .accordion {
       font-size: 1.3rem;
     }    

     .panel {
        font-size: 1.3rem;
    }     

    .innerpannel  span {
        font-size: 1.3rem;
    }

/* SIGNUP FORM GENERAL STYLING */

    .signup-form {
        margin: auto;
        max-width: 40rem;
        grid-column-gap: 1rem;
        /* grid-template-rows: repeat(auto, 1fr); */
        grid-template-columns: repeat(2, 1fr);
    }

    /* input[type=submit] {
        line-height: 3rem;
        width: 100%;
        font-size: 1.3rem;
    } */

    input[type=text],
    input[type=email],
    input[type=tel],
    input[type=date],
    input[type=file] {
        line-height: 3rem;
        width: 100%;
    } 


    /* FOOTER STYLING */

    .footer-container {
        display: grid;
        grid-template-areas: "mobile";
        /* grid-template-columns: repeat(2, 1fr); */

        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        text-align: center;
        height: 100%;
    }

    .main-footer__links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 5rem;
    }
    .main-footer__links a {
        padding: 0.2rem 0;

    }
    .main-footer__link1 {
        grid-column-start: 1; 
        grid-column-end: 2; 
        grid-row-start: 1; 
        grid-row-end: 2; 
    }
     .main-footer__link2 { 
        grid-column-start:1;
        grid-column-end:2; 
        grid-row-start: 2; 
        grid-row-end: 3; 
        
    }
    .main-footer__link3 {
        grid-column-start: 2; 
        grid-column-end: 3; 
        grid-row-start: 1; 
        grid-row-end: 2; 
        
    }
    .main-footer__link4 {
        grid-column-start: 2; 
        grid-column-end: 3; 
        grid-row-start: 2; 
        grid-row-end: 3; 
    }

    .main-footer__link5 {
        grid-column-start: 1;
        grid-column-end: 3; 
        grid-row-start: 3; 
        grid-row-end: 4; 
    }


    input[type=text],
    input[type=email],
    input[type=tel],
    input[type=date],
    input[type=file] {
        width: 100%;        
    font-size: 1.3rem;
}

}

@media (min-width: 900px) {

    main {
        margin-top: 5.75rem;
    }
    span {
        font-size: 1.3rem;
    }

    
    .main-header {
        height: 5.75rem ;
    }

    .main-nav__item {
        font-size:1.4rem;
    }
    .text-container {
        margin: 2.5rem auto;
    }

    .banner-otherpages h1 {
        font-size: 2.6rem;
    }

    .circle__container {
        grid-template-columns: repeat(6, 1fr) ;
        grid-template-rows: repeat(1, 1fr) ;
    }

    .accordion__title {
        font-size: 1.3rem;
      }    

    .accordion__paragraph {
      font-size: 1.3rem;
    }

}
        
@media (min-width: 1200px) {}

@media (min-width: 1800px) {}
