/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/



.iti__flag {background-image: url("./images/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("./images/img/flags@2x.png");}
}

.banner-student {
    background: url("./images/studentbanner.jpg") no-repeat left/cover border-box;
    }


.studentsform {
    display: -ms-grid;
    display: grid;
    padding: 2rem;
    grid-row-gap:0.5rem;
    
}    

.studentsform_inputcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
} 


.studentsform__labeltitle label {
    display: block;
    width: 100%;
}

.formcontainer__gender {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;        
    width: 100%;
}


.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  
  .btn {
    border:2px solid rgba(0, 0, 0, 1);
    background-color: white;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    line-height: 3.175rem;  /* Needed to get same height as other input field */
    text-align: left;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    cursor: pointer;
    position: absolute;

    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
   
  }


.accordion__studentstable-title {
  font-size:1.2rem;
  font-weight: bold;
  margin-bottom:0.5rem;
}

.accordion__studentstable {
  width:100%;
  border: 0;
  border-collapse: collapse; 
  border-spacing: 0;
  }

.accordion__studentstable td {
  font-size:1.2rem;
  padding:0;
}

.accordion__studentstable-example {
  width:25%;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  


  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0.2rem;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color:var(--main-bg-color);
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--main-bg-color);
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
      top: 4px;
      left: 4px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: white;
  }

@media (min-width: 600px) { 

    .banner-student {
        background: url("./images/studentbanner.jpg") no-repeat center/cover border-box;
        }
    
    .btn {
        font-size: 1.3rem
    }
    .studentsform {
        margin: 0 auto;
        max-width: 40rem;
        grid-column-gap: 1rem;        
        -ms-grid-columns: 1fr 1rem 1fr;        
        grid-template-columns: repeat(2, 1fr);
    }
    .studentsform__labeltitle {
        font-size: 1.3rem;
        margin: auto 0;
    }
    .student__moreinfo {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 /3;
    }

    .formcontainer__gender {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 /3;
    
    }


}