/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.iti__flag {background-image: url("./images/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("./images/img/flags@2x.png");}
}

.banner-otherpages {
    background: url("./images/letrytryutrechtwithoverlay.jpg") no-repeat center/cover border-box;
    }

.main-contactus {
    height: 10rem;
}


.accordion__studentstable-title {
  font-size:1.2rem;
  font-weight: bold;
  margin-bottom:0.5rem;
}

.accordion__studentstable {
  width:100%;
  border: 0;
  border-collapse: collapse; 
  border-spacing: 0;
  }

.accordion__studentstable td {
  font-size:1.2rem;
  padding:0;
}

.accordion__studentstable-example {
  width:25%;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  


  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0.2rem;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color:var(--main-bg-color);
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--main-bg-color);
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
      top: 4px;
      left: 4px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: white;
  }


.signup-form__students {
    padding: 0 2rem;
    display: -ms-grid;
    display: grid;
}

.signup-form__students label,
.signup-form__students input,
.signup-form__students select {
    display: block;
    width: 100%;
    max-width: 80vw;
}

[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  95% 50% no-repeat ;
    line-height: 2rem;
    height: 2rem;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }


.signup-form__students .signup-form__students--input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	/* position: absolute; */
	z-index: -1;
}
.signup-form__picturecontainer {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}


.signup-form__students--profilepicture {
  color: grey;
  background-color: white;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; 
  border: solid 2px black;
  border-radius: 4px;
  height: 3.375rem;
  text-align: center;
  margin:0;
  cursor:pointer;
}

.singup-form__students--placeholder-profilepicture {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width:100%;
  text-align: left;
  padding-left: 2px;
  overflow: hidden;
}

/* input[type="file"] {
  display: none;
} */

input[type=submit] {
  /* line-height: 3rem;
  width: 70%; */
  width: 50%;
  /* grid-row: 8 ; */
  /* font-size: 1rem; */
}  


.formcontainer__gender label,
.formcontainer__gender div
 {
  font-size:1.2rem;
}


@media (min-width: 600px) {

    .signup-form__students {
        margin: 2rem auto;
        max-width: 40rem;
        grid-column-gap: 1rem;
        -ms-grid-columns: 1fr 1rem 1fr;
        grid-template-columns: repeat(2, 1fr);
    }

    .formcontainer__gender {
        position: relative;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 /3;
    }
    
    .form__moreinfo {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 /3;
        -ms-grid-row: 8;
        grid-row: 8;
    }

    input[type=submit] {
        /* line-height: 3rem;
        width: 70%; */
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / 2;
        -ms-grid-row: 8 ;
        grid-row: 8 ;
        /* font-size: 1rem; */
    }    

    .singup-form__students--placeholder-profilepicture {
      font-size: 1.4rem;
    }

    .signup-form__students label,
    .signup-form__students input,
    .signup-form__students select {
        display: block;
        width: 100%;
        max-width: 17.5rem;
    }

    .form__moreinfo label {
      max-width: 40rem;
    }
    
    input[type=file] {
      width: 10%;
    }

    


}